@media (min-width: 450px) {
  .modal-form__input {
    font-size: 14px;
  }

  .modal-form__label {
    font-size: 12px;
  }

  .hero-content {
    padding: 20px 40px;
  }

  .hero-img__block .graph1 {
    width: 190px;
    height: 150px;
    top: 15px;
    left: -20px;

  }

  .hero-img__block .graph2 {
    width: 163px;
    height: 103px;
    top: 30px;
    right: -20px;
  }

  .hero-img__block .graph3 {
    width: 190px;
    height: 130px;
    bottom: -10px;
    left: -45px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 28px 0;
  }

  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .button-wrapper {
    display: flex;
    gap: 10px;
  }

  .modal-info__title {
    font-size: 34px;
    line-height: 120%;
  }

  .hero-content__wrapper {
    max-width: 665px;
    justify-content: space-between;
  }

  .hero-info__title {
    max-width: 611px;
    font-size: 40px;
    letter-spacing: 0.8px;
    margin-bottom: 16px;
  }

  .hero-info__text {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .hero-info__subtext {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .hero-button {
    font-size: 16px;
  }

  .hero-logos__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08px;
  }

  .hero-img__block .graph1 {
    top: 15px;
    left: 55px;
  }

  .hero-img__block .graph2 {
    top: 70px;
    right: 65px;
  }

  .hero-img__block .graph3 {
    bottom: 90px;
    left: 20px;
  }
}


@media (min-width: 900px) {
  .modal-image {
    display: block;
  }

  .modal-info {
    max-width: 50%;
    gap: 24px;
  }

  .modal-form {
    gap: 24px;
  }

  .modal-info__text {
    font-size: 14px;
  }

  .form-buttons {
    justify-content: space-between;
  }

  .form-logo {
    position: absolute;
    bottom: 30px;
    left: 130px;
  }

  .form-conditions .form-conditions__text::before {
    top: 7px;
  }

  .form-conditions .form-conditions__text.error-border::before {
    top: 7px;
  }

  .form-conditions .form-conditions__text::after {
    content: '';
    position: absolute;
    display: block;
    top: 8px;
  }
}

@media (min-width: 1280px) {
  .nav-list {
    gap: 30px;
  }

  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    padding: 53px 64px 35px 51px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .hero-img__block {
    max-width: 370px;
  }

  .hero-img {
    width: 100%;
  }

  .hero-button {
    margin-bottom: 0;
    align-self: self-start;
  }

  .hero-logos__text {
    align-self: self-start;
  }

  .hero-logos {
    margin-bottom: 0;
  }

  .hero-logos__list {
    justify-content: flex-start;
    gap: 24px;
  }

  .hero-img__block .graph1 {
    top: -50px;
    left: -65px;
  }

  .hero-img__block .graph2 {
    top: 50px;
    right: -50px;
  }

  .hero-img__block .graph3 {
    bottom: 90px;
    left: -120px;
  }
}

@media (min-width: 1440px) {
  .button-wrapper {
    gap: 40px;
  }
}