* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  font-weight: 400;
  font-style: normal;
  color: var(--mainBlue);
  display: flex;
  flex-direction: column;
  scroll-behavior: unset;
}



main {
  flex-grow: 1;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  appearance: none;
  background: var(--mainBlue);
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 5px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
  }
}