.hero-content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #E2F2FF;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 10px;
}


.hero-content__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.hero-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-info__title {
  max-width: 100%;
  color: var(--mainBlue);
  font-family: var(--font-base);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.64px;
  margin-bottom: 20px;
}

.hero-info__text {
  color: var(--mainBlue);
  font-family: var(--font-base);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.hero-info__subtext {
  color: var(--gray);
  font-family: var(--font-base);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.035px;
  margin-bottom: 20px;
}


.hero-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 183px;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.08px;
  outline: none;
  margin-bottom: 20px;
  align-self: center;
  outline: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover);
}

.hero-logos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.hero-logos__text {
  align-self: center;
  color: var(--mainBlue);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.hero-logos__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.hero-img__block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%
}

.hero-img {
  width: 70%;
  object-fit: cover;
}

.hero-img__block .graph1 {
  position: absolute;
  top: -24px;
  left: 10px;
  width: 130px;
  height: 108px;
}

.hero-img__block .graph2 {
  position: absolute;
  top: 38px;
  right: 17px;
  width: 109px;
  height: 74px;
}

.hero-img__block .graph3 {
  position: absolute;
  bottom: 8px;
  left: 14px;
  width: 137px;
  height: 95px;
}

/*animation*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.u--fadeIn {
  -webkit-animation: fadeIn 0.5s ease-in;
  -moz-animation: fadeIn 0.5s ease-in;
  -o-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 1;
    -o-transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.u--fadeInLeft {
  -webkit-animation: fadeInLeft 0.8s ease-in;
  -moz-animation: fadeInLeft 0.8s ease-in;
  -o-animation: fadeInLeft 0.8s ease-in;
  animation: fadeInLeft 0.8s ease-in;
}