.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 1000;
}

.modal-content {
  position: relative;
  margin: 5% auto;
  background-color: var(--white);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
}

.modal-container {
  display: flex;
}

.modal-image {
  display: none;
  flex: 1;
  max-width: 50%;
}

.modal-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
}

.modal-info {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: 45px 42px 45px 42px;
  max-width: 100%;
  gap: 18px;
}

.modal-close {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  background-color: #F3F4F6;
  border: none;
  padding: 5px;
  transition: var(--transition);
  outline: none;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);
}

/*form*/

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-conditions {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.form-conditions .form-conditions__text::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  background-color: var(--white);
  transition: var(--transition);
  cursor: pointer;
}


.form-conditions .form-conditions__text.error-border::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid var(--error);
  border-radius: 3px;
  background-color: var(--white);
  transition: var(--transition);
  cursor: pointer;
}

.form-conditions .form-conditions__text::after {
  content: '';
  position: absolute;
  display: block;
  top: 2px;
  left: 1px;
  z-index: 10;
  width: 11px;
  height: 11px;
  background: url('../assets/icons/arrow.svg') no-repeat center;
  background-size: 11px;
  opacity: 0;
  transition: all 0.3s ease;
}


.form-conditions .checkbox:checked+.form-conditions__text::before {
  background-color: var(--accent-color);
  border: none;
}

.form-conditions .checkbox:checked+.form-conditions__text::after {
  opacity: 1;
}

.form-conditions__text {
  font-family: var(--font-base);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  color: var(--gray);
  padding-left: 20px;
  cursor: pointer;
}

.conditions {
  color: #5d78ff;
}

.modal-info__title {
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-info__text {
  font-family: var(--font-base);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.0025em;
  text-align: center;
}


.modal-form__group {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 4px;
}


.modal-form__label {
  color: var(--gray);
  font-family: var(--font-base);
  font-size: 9px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.modal-form__input {
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  color: var(--mainBlue);
  font-family: var(--font-base);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.0025em;
  text-align: left;
  padding: 8px 12px;
  position: relative;
  outline-color: #aed1ff;
}

.modal-form__input.iti__tel-input {
  width: 100% !important;
}

.checkbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid #d5d5d6;
  border-radius: 4px;
  opacity: 0;
}

.error-message {
  position: absolute;
  top: 65px;
  left: 0px;
}

.modal-form__input.error-border,
.checkbox.error-border {
  border: 1px solid var(--error);
}

.error-message {
  color: var(--error);
  font-size: 9px;
  display: none;
  position: absolute;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.disabled-btn,
.active-btn {
  width: 153px;
  padding: 12px 0;
  border-radius: 7px;
  color: var(--white);
  text-align: center;
}

.disabled-btn {
  background-color: #aed1ff;
}

.active-btn {
  background-color: var(--accent-color);
}

.form-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  gap: 5px;
}

.form-logo__text {
  font-family: var(--font-base);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
}

.logoSmall use {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}